VITE_FIREBASE_API_KEY=PASTE_YOUR_NEW_FIREBASE_API_KEY_HERE
VITE_FIREBASE_AUTH_DOMAIN=mcdowell-tyre-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mcdowell-tyre-app
VITE_FIREBASE_STORAGE_BUCKET=mcdowell-tyre-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=299380777264
VITE_FIREBASE_APP_ID=1:299380777264:web:25b15ac214869cc8a128f5
VITE_FIREBASE_MEASUREMENT_ID=G-N4P0R0NBVM
